body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/nasa-Q1p7bh3SHj8-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  width: 300px;
  text-align: center;
  color: white;
  margin: 50px auto;
}
.input {
  position: relative;
  width: 300px;
  margin: 20px auto;
  outline: none;
}

.input input {
  border-radius: 10px;
  width: 100%;
  font-size: 30px;
  z-index: 2;
  padding-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif3;
  padding: 5px 15px;
}

.input label {
  position: absolute;
  left: 16px;
  bottom: 7px;
  font-size: 30px;
  opacity: 0.3;
  z-index: 1;
  user-select: none;
  display: flex;
  align-items: center;
}
.icon {
  position: absolute;
  font-size: 30px;
  color: gray;
  bottom: 12px;
  right: 0;
}
@media (max-width: 480px) {
  .input {
    width: 280px;
  }
  .input input {
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 5px 8px;

  }
  h1 {
    width: 280px;
   font-size: 1.5rem;
    margin: 25px auto;
  }
  
.input label {
  font-size: 0.7rem;
}
.icon {
  font-size: 0.7rem;
  bottom: 10px;
}
}
